body {
  background-color: #fff;
  color: #333;
  margin: 0; 

  & > section {
    margin: 2rem;
  }
}

body, p, ol, ul, td {
  font-family: 'Gentium Basic', serif;
  font-size: 1rem;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }

a:visited {
  color: #666; }

a:hover {
  color: #fff;
  background-color: #000; }

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px; }

table {
  width: 100%;
  text-align: left;

  & > caption {
    text-align: left;
  }

  & > thead {
    background-color: #4f7878;
    height: 3rem;
    font-size: 1.2rem;
    color: #fff;

    & > tr > th {
      padding: 1rem;
    }
  }

  & > tbody {
    & > tr > td {
      padding: 1rem;
    }

    & > tr.warning {
      background: rgb(255, 146, 146);
    }

    & > tr.alert {
      background: rgb(254, 255, 198);
    }

    & > tr.unavailable {
      opacity: 0.7;
      background: #efbec7;

      &:hover {
        cursor: not-allowed;
      }
    }
  }

  tr {
    height: 2rem;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
}

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }
